.App {
  --brown: #886548;
  background-color: var(--brown);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 2px solid whitesmoke;
  border-radius: ; 
}

h2, h3, div, ul, li{
  background-color: var(--brown);
  color: whitesmoke;
  padding: 8px;
}